html {
  font-family: 'Roboto', 'Yu-Gothic', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

p,
a {
  font-size: 16px;
}

.hw100 {
  height: 100vh;
  width: 100%;
}

.relative {
  position: relative;
}

.overflowHidden {
  overflow: hidden;
}

.overflowXHidden {
  overflow-x: hidden;
}

.overflowYHidden {
  overflow-y: hidden;
}

.width90 {
  width: 90%;
  height: auto;
}
.margin-bottom-100px {
  margin-bottom: 100px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-top-bottom-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}

.modal {

  h4 {
    font-size: 1.8rem;
  }

  .modal__p--as-label {
    margin-bottom: 0;
  }
}

.toast {
    margin: 20px auto;
    width: 95%;
}

.chart {
  margin: 10px;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
  }
}

#goal-cards__container {

  .card {

    .card-title {
      font-weight: bold;
    }
  }
}

.a-inside-of-this-element-color-black {

  a {
    color: rgba(0,0,0,0.87);
  }
}
