html {
  // font-family: a-otf-gothic-bbb-pr6n, sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a,
p {
  font-size: 16px;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}

.overflowHidden {
  overflow: hidden;
}

.overflowXHidden {
  overflow-x: hidden;
}

.overflowYHidden {
  overflow-y: hidden;
}

.hw100 {
  height: 100vh;
  width: 100%;
}

.width90 {
  width: 90%;
  height: auto;
}

.margin-center {
  margin: 0 auto;
}

.margin-bottom-100px {
  margin-bottom: 100px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-top-bottom-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}

.card-content__left {
  width: 65%;
}

.card-content__right {
  width: 35%;
}

.modal {
  h4 {
    font-size: 1.8rem;
  }

  .modal__p--as-label {
    margin-bottom: 0;
  }
}

.toast {
  margin: 20px auto;
  width: 95%;
}

.chart {

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 150%;
    text-align: center;
  }
}

.a-inside-of-this-element-color-black {
  a {
    color: rgba(0,0,0,0.87);
  }
}

@keyframes flash-animation {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.flash {
  animation: flash-animation 1.5s infinite;
}
